name: CI Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.X
    - name: Build with dotnet
      run: dotnet build ./src/*.sln --configuration Release
    - name: Test
      run: dotnet test ./src/*.sln
        
  pack:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.X
      - name: Pack
        run: dotnet pack ./src/*.sln --configuration Release -o package
      - name: Publish artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: NuGet Package
          path: package
