name: .NET Core

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.102
    - name: Build with dotnet
      run: dotnet build ./src/*.sln --configuration Release
    - name: Test
      run: dotnet test ./src/*.sln
        
  pack:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.102
      - name: Pack
        run: dotnet pack ./src/*.sln --configuration Release -o package
      - name: Publish artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: Trie NuGet Package
          path: package
